<div class="container">
  <div class="mt-5 p-5 box-rounded border-fill bg-white">
    <h1 class="page-header">archive</h1>
    <%= render 'search/form' %>

    <div class="row d-flex justify-content-between my-5 mx-auto">
      <h1 class="my-5">displaying <%= pluralize(@results.count, "result") %> for: "<%= @query %>"</h1>
      <p>sort by: <%= sort_link(@query, :name, "title", default_order: :asc) %> | <%= sort_link(@query, :user_email, "users") %></p>

      <% @results.each do |result| %>
        <div id="results" class="col-lg-4 col-md-8 col-sm-12 p-5">
          <%= render 'uploads/upload', upload: result %>
        </div>
      <% end %>

    </div>
  </div>
</div>
