<div class="container">
  <div class="mt-5 p-5 box-rounded border-fill bg-white">

    <div class="d-flex justify-content-around mx-auto p-3">
      <div class="col-3">
        <img src="<%= (url_for(@user.avatar)) %>" class="avatar">
        <h1 class="pt-2"><%= @user.username %></h1>
        <h4>member since: <%= @user.created_at %></h4>
        <h4><%= pluralize(@user.views, "view") %></h4>
      </div>

      <div class="col-7">
        <p class="fs-5 py-5"><%= @user.bio %></p>
      </div>
    </div>

    <h1 class="my-3"><%= pluralize(Upload.where(user_id: @user).count, "assets") %></h6>
    <hr>
    <div class="upload-gallery justify-content-around my-2 mx-auto">
      <% Upload.where(user_id: @user).each do |upload| %>
        <div id="uploads">
          <%= render upload %>
        </div>
      <% end %>
    </div>

  </div>
</div>