<div class="p-3">
  <h3>featured model</h3>
  <div class="d-flex justify-content-around mx-auto py-3">

    <div class="text-start pl-5">
      <h1><%= upload.name %></h1>
      <h4>by <%= link_to upload.user.username, user_path(upload.user) %></h4>
      <h6><%= pluralize(upload.views, "view") %></h6>
      <br/>
      <%= upload.description %>
    </div>

    <div>
      <% if upload.file.attached? %>
        <%= render 'uploads/3d_viewer', upload: upload %>
      <% elsif upload.thumbnail.attached? %>
        <img src="<%= (url_for(upload.thumbnail)) %>" class="avatar">
      <% else %>
        <img src="<%= (url_for(@user.avatar)) %>" class="avatar">
      <% end %>
    </div>

  </div>

</div>