<div class="p-3">
  <h1>featured model:</h1>
  <div class="d-flex justify-content-around mx-auto py-3">

    <div class="text-start pl-5">
      <h2><%= upload.name %></h2>
      <h4>by <%= link_to upload.user.username, user_path(upload.user) %></h4>
      <h6><%= pluralize(upload.views, "view") %></h6>
      <br/>
      <%= upload.description %>
    </div>

    <div>
      <%= render 'uploads/3d_viewer', upload: upload %>
    </div>

  </div>

</div>