<div id="<%= dom_id upload %>">
  
  <div class="card-size my-5">
    <div class="image-container">
      
      <div class="overlay border-fill box-rounded">
        <p style="visibility: hidden;">.</p>
      </div>
    </div>
    
    <div class="card-body  py-0">
      <div>
        <a href="<%= upload_path(upload) %>">
          <h4 class="mb-1"><%= upload.name %></h4>
          <p class="mb-2"><%= upload.description %></p>
        </a>

        <div class="d-flex align-items-start justify-content-around mx-3">
          <div>
            <a href="<%= user_path(upload.user) %>">
              <% if upload.user.avatar.attached? %>
                <img src="<%= (url_for(upload.user.avatar)) %>" class="avatar avatar-mini">
              <% else %>
                <%= image_tag "avatar.png", class: "avatar avatar-mini" %>
              <% end %>
            </a>
          </div>
          <div>
            <p class="fs-4"><i class="bi bi-heart-fill pink-heart"></i> 4</p>
          </div>
          <div>
            <p class="fs-4"><i class="bi bi-eye-fill eye-color"></i> <%= upload.views %></p>
          </div>
        </div>
      </div>
      
    </div>
  </div>

</div>
