<div>
  
  <div class="border-fill box-rounded card-size my-5">
    <a href="<%= upload_path(upload) %>">
      <% if upload.thumbnail.attached? %>
        <img src="<%= (url_for(upload.thumbnail)) %>" class="top-rounded card-img">
      <% else %>
        <%= image_tag "keroppi.jpg", class: "top-rounded card-img" %>
      <% end %>
    </a>
    <div class="card-body">
      <div class="card-text">

        <!-- name & description -->
        <div class="d-flex justify-content-around align-items-center p-2">
          <div>
            <a href="<%= user_path(upload.user) %>">
              <% if upload.user.avatar.attached? %>
                <img src="<%= (url_for(upload.user.avatar)) %>" class="avatar-med">
              <% else %>
                <%= image_tag "avatar.png", class: "avatar-med" %>
              <% end %>
            </a>
          </div>
          <div>
            <a href="<%= upload_path(upload) %>">
              <h4 class="mb-0"><%= upload.name.truncate(15) %></h4>
            </a>
          </div>
        </div>

        <!-- button group -->
        <div class="d-flex justify-content-around mx-3 mt-1">
          <%= button_to "view", upload_path(upload), method: :get, class: "btn btn-outline-primary p-1" %>
          <%= button_to "edit", edit_upload_path(upload), method: :get, class: "btn btn-outline-primary p-1" %>
          <%= button_to "delete", upload, method: :delete, class: "btn btn-outline-primary p-1" %>
        </div>

      </div>
    </div>
  </div>

</div>
