<div id="<%= dom_id upload %>">
  
  <div class="d-flex border-fill box-rounded card-horizontal my-3">
    <div>
      <a href="<%= upload_path(upload) %>">
        <img src="<%= (url_for(upload.thumbnail)) %>" class="top-rounded horizontal-card-img">
      </a>
    </div>
    <div>
      <div class>
        <a href="<%= upload_path(upload) %>">
          <p class="fs-5 pt-3"><%= upload.name %></p>
        </a>
        <div class="d-flex justify-content-around mx-3 pt-2">
          <div>
            <a href="<%= user_path(upload.user) %>">
              <% if upload.user.avatar.attached? %>
                <img src="<%= (url_for(upload.user.avatar)) %>" class="avatar avatar-mini">
              <% else %>
                <%= image_tag "avatar.png", class: "avatar avatar-mini" %>
              <% end %>
            </a>
          </div>
          <div>
            <p class="fs-5"><i class="bi bi-heart-fill pink-heart"></i> 4</p>
          </div>
          <div>
            <p class="fs-5"><i class="bi bi-eye-fill eye-color"></i> <%= upload.views %></p>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
