<div id="<%= dom_id upload %>">

    <div class="card border-fill box-rounded" style="width: 18rem;">
      <img src="<%= (url_for(upload.thumbnail)) %>" class="w-100 top-rounded">
      <div class="card-body">
        <div class="card-text">
          <h2><%= upload.name %></h2>
          <h4>by <%= link_to upload.user.username, user_path(upload.user) %></h4>
          <p><%= upload.description %></p>
          <p><%= pluralize(upload.views, "view") %></p>
        </div>
        <p class="text-center">
          <%= link_to "View", upload %>
        </p>
      </div>
    </div>

</div>
