<div id="<%= dom_id upload %>">
  
  <div class="d-flex border-fill box-rounded card-horizontal my-3">
    <div>
      <a href="<%= upload_path(upload) %>">
        <% if upload.thumbnail.attached? %>
          <img src="<%= (url_for(upload.thumbnail)) %>" class="horizontal-card-img">
        <% else %>
          <%= image_tag "avatar.png", class: "horizontal-card-img" %>
        <% end %>
      </a>
    </div>
    <div>
      <div class>
        <a href="<%= upload_path(upload) %>">
          <p class="pt-3"><%= upload.name %></p>
        </a>
        <div class="d-flex justify-content-around mx-3">
          <div>
            <p><i class="bi bi-heart-fill pink-heart"></i> 4</p>
          </div>
          <div>
            <p><i class="bi bi-eye-fill eye-color"></i> <%= upload.views %></p>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
